@charset "UTF-8";
/* -----------------------------------------------------
	include function 'calc' and Compass-like mixins
*/
/* -----------------------------------------------------
	CONFIG
*/
/*-------------------------------------------------------
	Color Properties
*/
/*-------------------------------------------------------
	Background and Border Properties
*/
/*-------------------------------------------------------
	Basic Box Properties
*/
/*-------------------------------------------------------
	Flexible Box Layout
*/
/*-------------------------------------------------------
	Text Properties
*/
/*-------------------------------------------------------
	Text Decoration Properties
*/
/*-------------------------------------------------------
	Animation Properties
*/
/*-------------------------------------------------------
	Transform Properties
*/
/*-------------------------------------------------------
	Transitions Properties
*/
/*-------------------------------------------------------
	Basic User Interface Properties
*/
/*-------------------------------------------------------
	Multi-column Layout Properties
*/
/*-------------------------------------------------------
	Filter Effects Properties
*/
/* -----------------------------------------------------
	include default styles, fonts, indents, and so on...
*/
/*@import "_default/_normalize.scss";*/
html {
  font-size: 14px;
  font-family: 'PT Sans', sans-serif; }

html, body {
  margin: 0;
  height: 100%;
  width: 100%; }

button, input, textarea {
  font-family: 'PT Sans', sans-serif; }

figure {
  margin: 0;
  padding: 0; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.unstyled-textarea, .unstyled-input {
  background: none;
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  width: auto; }

.unstyled-textarea {
  resize: none; }

.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none; }

.no-marg {
  margin: 0; }

.no-pad {
  padding: 0; }

.exact-fit {
  margin: 0;
  padding: 0; }

.no-js body:after {
  display: block;
  position: fixed;
  top: 5px;
  left: 5%;
  right: 5%;
  padding: 10px 0;
  background: firebrick;
  color: lightyellow;
  text-align: center;
  font-weight: bold;
  z-index: 100500;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  content: 'This page requires JavaScript for correct performance'; }

.disable-hover, .disable-hover * {
  pointer-events: none !important; }

.ir {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  left: -1000%;
  top: -1000%;
  text-indent: -1000%; }

img.r {
  width: 100%;
  height: auto;
  display: block; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.v-top {
  vertical-align: top; }

.v-middle {
  vertical-align: middle; }

.v-bottom {
  vertical-align: bottom; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.pull-clear {
  clear: both; }
  .pull-clear:after {
    display: table;
    content: '';
    clear: both; }

.block {
  display: block !important; }

.inline {
  display: inline-block !important; }

.table {
  display: table; }

.list-item {
  display: list-item; }

.cell {
  display: table-cell; }

.w-full {
  width: 100%; }

.white-space {
  white-space: nowrap; }

.black {
  color: #000000; }

.white {
  color: #ffffff; }

.bg-black {
  background-color: #000000; }

.bg-white {
  background-color: #ffffff; }

.bg-red {
  background-color: #be1e2d; }

.bg-black-06 {
  background-color: rgba(0, 0, 0, 0.6); }

.bg-gray {
  background-color: #f3f3f3; }

/* Generated by ParaType Ltd (http://www.paratype.com)*/
/* Font PT Serif:  Copyright © 2010 ParaType Ltd. All rights reserved.*/
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pts55f_w.eot');
  src: local('PT Sans'), url('../fonts/PTS55F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS55F_W.woff') format('woff'), url('../fonts/PTS55F_W.ttf') format('truetype'), url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg'); }

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  src: url('../fonts/pts56f_w.eot');
  src: local('PT Sans Italic'), url('../fonts/PTS56F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS56F_W.woff') format('woff'), url('../fonts/PTS56F_W.ttf') format('truetype'), url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg'); }

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pts75f_w.eot');
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'), url('../fonts/PTS75F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS75F_W.woff') format('woff'), url('../fonts/PTS75F_W.ttf') format('truetype'), url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg'); }

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/pts76f_w.eot');
  src: local('PT Sans Bold Italic'), url('../fonts/PTS76F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS76F_W.woff') format('woff'), url('../fonts/PTS76F_W.ttf') format('truetype'), url('../fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg'); }

@font-face {
  font-family: 'PT Sans Caption';
  src: url('../fonts/ptc55f_w.eot');
  src: local('PT Sans Caption'), url('../fonts/PTC55F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTC55F_W.woff') format('woff'), url('../fonts/PTC55F_W.ttf') format('truetype'), url('../fonts/PTC55F_W.svg#PTSans-Caption') format('svg'); }

@font-face {
  font-family: 'PT Sans Caption';
  font-weight: bold;
  src: url('../fonts/ptc75f_w.eot');
  src: local('PT Sans Caption Bold'), url('../fonts/PTC75F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTC75F_W.woff') format('woff'), url('../fonts/PTC75F_W.ttf') format('truetype'), url('../fonts/PTC75F_W.svg#PTSans-CaptionBold') format('svg'); }

@font-face {
  font-family: 'PT Sans Narrow';
  src: url('../fonts/ptn57f_w.eot');
  src: local('PT Sans Narrow'), url('../fonts/PTN57F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTN57F_W.woff') format('woff'), url('../fonts/PTN57F_W.ttf') format('truetype'), url('../fonts/PTN57F_W.svg#PTSans-Narrow') format('svg'); }

@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: bold;
  src: url('../fonts/ptn77f_w.eot');
  src: local('PT Sans Narrow Bold'), url('../fonts/PTN77F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTN77F_W.woff') format('woff'), url('../fonts/PTN77F_W.ttf') format('truetype'), url('../fonts/PTN77F_W.svg#PTSans-NarrowBold') format('svg'); }

/* font-family: "EtelkaMediumProRegular"; */
@font-face {
  font-family: "EtelkaMediumProRegular";
  src: url("../fonts/EtelkaMediumProRegular.eot");
  src: url("../fonts/EtelkaMediumProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/EtelkaMediumProRegular.woff") format("woff"), url("../fonts/EtelkaMediumProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "EtelkaMediumProBold"; */
@font-face {
  font-family: "EtelkaMediumProBold";
  src: url("../fonts/EtelkaMediumProBold.eot");
  src: url("../fonts/EtelkaMediumProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/EtelkaMediumProBold.woff") format("woff"), url("../fonts/EtelkaMediumProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* cyrillic */
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: local('Russo One'), local('RussoOne-Regular'), url(http://fonts.gstatic.com/s/russoone/v4/4ofjFbAC3dpxPypNpg86KxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U400 -45F, U490 -491, U4B0-04B1, U2116; }

/* latin-ext */
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: local('Russo One'), local('RussoOne-Regular'), url(http://fonts.gstatic.com/s/russoone/v4/BUtWDi-16QNsA8yggnRs5RJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U100 -24F, U1E00-1EFF, U20A0-20AB, U20AD-20CF, U2C60-2C7F, UA720-A7FF; }

/* latin */
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: local('Russo One'), local('RussoOne-Regular'), url(http://fonts.gstatic.com/s/russoone/v4/RO6e96EC9m6OLO0tr7J3z1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U0 0FF, U131, U152 -153, U2C6, U2DA, U2DC, U2000 -206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000; }

.light {
  font-weight: 100; }

.semilight {
  font-weight: 300; }

.regular {
  font-weight: 400; }

.bold {
  font-weight: 600; }

.boldest {
  font-weight: 900; }

.lowercase {
  text-transform: lowercase; }

.uppercase {
  text-transform: uppercase; }

.underline {
  text-decoration: underline; }

a.underline:hover {
  text-decoration: none; }

.rev-underline {
  text-decoration: none; }

a.rev-underline:hover {
  text-decoration: underline; }

/* -----------------------------------------------------
	fonts size
*/
.font-6 {
  font-size: 6px; }

.font-7 {
  font-size: 7px; }

.font-8 {
  font-size: 8px; }

.font-9 {
  font-size: 9px; }

.font-10 {
  font-size: 10px; }

.font-11 {
  font-size: 11px; }

.font-12 {
  font-size: 12px; }

.font-13 {
  font-size: 13px; }

.font-14 {
  font-size: 14px; }

.font-15 {
  font-size: 15px; }

.font-16 {
  font-size: 16px; }

.font-17 {
  font-size: 17px; }

.font-18 {
  font-size: 18px; }

.font-19 {
  font-size: 19px; }

.font-20 {
  font-size: 20px; }

.font-21 {
  font-size: 21px; }

.font-22 {
  font-size: 22px; }

.font-23 {
  font-size: 23px; }

.font-24 {
  font-size: 24px; }

.font-25 {
  font-size: 25px; }

.font-26 {
  font-size: 26px; }

.font-27 {
  font-size: 27px; }

.font-28 {
  font-size: 28px; }

.font-29 {
  font-size: 29px; }

.font-30 {
  font-size: 30px; }

.font-31 {
  font-size: 31px; }

.font-32 {
  font-size: 32px; }

.font-33 {
  font-size: 33px; }

.font-34 {
  font-size: 34px; }

.font-35 {
  font-size: 35px; }

.font-36 {
  font-size: 36px; }

.font-37 {
  font-size: 37px; }

.font-38 {
  font-size: 38px; }

.font-39 {
  font-size: 39px; }

.font-40 {
  font-size: 40px; }

.font-41 {
  font-size: 41px; }

.font-42 {
  font-size: 42px; }

.font-43 {
  font-size: 43px; }

.font-44 {
  font-size: 44px; }

.font-45 {
  font-size: 45px; }

.font-46 {
  font-size: 46px; }

.font-47 {
  font-size: 47px; }

.font-48 {
  font-size: 48px; }

.font-49 {
  font-size: 49px; }

.font-50 {
  font-size: 50px; }

.font-51 {
  font-size: 51px; }

.font-52 {
  font-size: 52px; }

.font-53 {
  font-size: 53px; }

.font-54 {
  font-size: 54px; }

.font-55 {
  font-size: 55px; }

.font-56 {
  font-size: 56px; }

.font-57 {
  font-size: 57px; }

.font-58 {
  font-size: 58px; }

.font-59 {
  font-size: 59px; }

.font-60 {
  font-size: 60px; }

/* -----------------------------------------------------
	sizes array of indents
*/
.island-5 {
  padding: 5px; }

.island-10 {
  padding: 10px; }

.island-15 {
  padding: 15px; }

.island-20 {
  padding: 20px; }

.island-25 {
  padding: 25px; }

.island-30 {
  padding: 30px; }

.island-35 {
  padding: 35px; }

.island-40 {
  padding: 40px; }

/* -----------------------------------------------------
	PADDINGS
*/
.pad-h5 {
  padding-left: 5px;
  padding-right: 5px; }

.pad-h10 {
  padding-left: 10px;
  padding-right: 10px; }

.pad-h15 {
  padding-left: 15px;
  padding-right: 15px; }

.pad-h20 {
  padding-left: 20px;
  padding-right: 20px; }

.pad-h25 {
  padding-left: 25px;
  padding-right: 25px; }

.pad-h30 {
  padding-left: 30px;
  padding-right: 30px; }

.pad-h35 {
  padding-left: 35px;
  padding-right: 35px; }

.pad-h40 {
  padding-left: 40px;
  padding-right: 40px; }

.pad-v5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.pad-v10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.pad-v15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.pad-v20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.pad-v25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.pad-v30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.pad-v35 {
  padding-top: 35px;
  padding-bottom: 35px; }

.pad-v40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.pad-top-5 {
  padding-top: 5px; }

.pad-top-10 {
  padding-top: 10px; }

.pad-top-15 {
  padding-top: 15px; }

.pad-top-20 {
  padding-top: 20px; }

.pad-top-25 {
  padding-top: 25px; }

.pad-top-30 {
  padding-top: 30px; }

.pad-top-35 {
  padding-top: 35px; }

.pad-top-40 {
  padding-top: 40px; }

.pad-bot-5 {
  padding-bottom: 5px; }

.pad-bot-10 {
  padding-bottom: 10px; }

.pad-bot-15 {
  padding-bottom: 15px; }

.pad-bot-20 {
  padding-bottom: 20px; }

.pad-bot-25 {
  padding-bottom: 25px; }

.pad-bot-30 {
  padding-bottom: 30px; }

.pad-bot-35 {
  padding-bottom: 35px; }

.pad-bot-40 {
  padding-bottom: 40px; }

.pad-left-5 {
  padding-left: 5px; }

.pad-left-10 {
  padding-left: 10px; }

.pad-left-15 {
  padding-left: 15px; }

.pad-left-20 {
  padding-left: 20px; }

.pad-left-25 {
  padding-left: 25px; }

.pad-left-30 {
  padding-left: 30px; }

.pad-left-35 {
  padding-left: 35px; }

.pad-left-40 {
  padding-left: 40px; }

.pad-right-5 {
  padding-right: 5px; }

.pad-right-10 {
  padding-right: 10px; }

.pad-right-15 {
  padding-right: 15px; }

.pad-right-20 {
  padding-right: 20px; }

.pad-right-25 {
  padding-right: 25px; }

.pad-right-30 {
  padding-right: 30px; }

.pad-right-35 {
  padding-right: 35px; }

.pad-right-40 {
  padding-right: 40px; }

/* -----------------------------------------------------
	MARGINS
*/
.marg-5 {
  margin: 5px; }

.marg-10 {
  margin: 10px; }

.marg-15 {
  margin: 15px; }

.marg-20 {
  margin: 20px; }

.marg-25 {
  margin: 25px; }

.marg-30 {
  margin: 30px; }

.marg-35 {
  margin: 35px; }

.marg-40 {
  margin: 40px; }

.marg-h5 {
  margin-left: 5px;
  margin-right: 5px; }

.marg-h10 {
  margin-left: 10px;
  margin-right: 10px; }

.marg-h15 {
  margin-left: 15px;
  margin-right: 15px; }

.marg-h20 {
  margin-left: 20px;
  margin-right: 20px; }

.marg-h25 {
  margin-left: 25px;
  margin-right: 25px; }

.marg-h30 {
  margin-left: 30px;
  margin-right: 30px; }

.marg-h35 {
  margin-left: 35px;
  margin-right: 35px; }

.marg-h40 {
  margin-left: 40px;
  margin-right: 40px; }

.marg-v5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.marg-v10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.marg-v15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.marg-v20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.marg-v25 {
  margin-top: 25px;
  margin-bottom: 25px; }

.marg-v30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.marg-v35 {
  margin-top: 35px;
  margin-bottom: 35px; }

.marg-v40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.marg-top-5 {
  margin-top: 5px; }

.marg-top-10 {
  margin-top: 10px; }

.marg-top-15 {
  margin-top: 15px; }

.marg-top-20 {
  margin-top: 20px; }

.marg-top-25 {
  margin-top: 25px; }

.marg-top-30 {
  margin-top: 30px; }

.marg-top-35 {
  margin-top: 35px; }

.marg-top-40 {
  margin-top: 40px; }

.marg-bot-5 {
  margin-bottom: 5px; }

.marg-bot-10 {
  margin-bottom: 10px; }

.marg-bot-15 {
  margin-bottom: 15px; }

.marg-bot-20 {
  margin-bottom: 20px; }

.marg-bot-25 {
  margin-bottom: 25px; }

.marg-bot-30 {
  margin-bottom: 30px; }

.marg-bot-35 {
  margin-bottom: 35px; }

.marg-bot-40 {
  margin-bottom: 40px; }

.marg-left-5 {
  margin-left: 5px; }

.marg-left-10 {
  margin-left: 10px; }

.marg-left-15 {
  margin-left: 15px; }

.marg-left-20 {
  margin-left: 20px; }

.marg-left-25 {
  margin-left: 25px; }

.marg-left-30 {
  margin-left: 30px; }

.marg-left-35 {
  margin-left: 35px; }

.marg-left-40 {
  margin-left: 40px; }

.marg-right-5 {
  margin-right: 5px; }

.marg-right-10 {
  margin-right: 10px; }

.marg-right-15 {
  margin-right: 15px; }

.marg-right-20 {
  margin-right: 20px; }

.marg-right-25 {
  margin-right: 25px; }

.marg-right-30 {
  margin-right: 30px; }

.marg-right-35 {
  margin-right: 35px; }

.marg-right-40 {
  margin-right: 40px; }

/* -----------------------------------------------------
	<HEADER> styles
*/
/* -----------------------------------------------------
	<MAIN> styles
*/
a, a:hover, a:focus, a:visited, a:active, input, textarea, input:focus, textarea:focus {
  outline: none; }

input, textarea {
  font-size: 18px; }

.fColor {
  color: #636363; }

.sColor {
  color: #be1e2d; }

.tColor {
  color: #b5b5b5; }

.f-italic {
  font-style: italic; }

.f-bold {
  font-weight: 700; }

.fLinc {
  color: #be1e2d;
  text-decoration: none;
  border-bottom: 2px solid #be1e2d; }

.sLinc {
  color: #000000;
  text-decoration: none;
  border-bottom: 2px solid #797979; }

.content-title {
  font-family: 'Russo One';
  color: #000000;
  border-bottom: 3px solid #000000;
  text-decoration: none;
  line-height: 38px; }

.fLinc:hover, .sLinc:hover {
  text-decoration: none;
  border-bottom: 2px solid transparent; }

.goods-link {
  margin-bottom: 5px;
  display: inline-block;
  color: #000000;
  text-decoration: none;
  border-bottom: 2px solid #797979; }

.goods-link:hover {
  color: #be1e2d;
  text-decoration: none;
  border-bottom: 2px solid #be1e2d; }

.content-title:hover {
  text-decoration: none;
  border-bottom: 3px solid transparent; }

.table-top {
  border-top: 1px solid #be1e2d; }

.table-top2 {
  border-top: 2px solid #be1e2d; }

.item-info-link {
  color: black; }

.item-info-link:hover {
  text-decoration: none; }

.no-h-pad {
  padding-left: 0;
  padding-right: 0; }

.no-border-rad {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important; }

.height-50 {
  height: 50px; }

.pad-left-50 {
  padding-left: 50px; }

.pad-right-50 {
  padding-right: 50px; }

.pad-right-75 {
  padding-right: 75px; }

.marg-top-7 {
  margin-top: 7px; }

.marg-top-33 {
  margin-top: 33px; }

.marg-left-45 {
  margin-left: 45px; }

.marg-right-65 {
  margin-right: 65px; }

.marg-right-55 {
  margin-right: 55px; }

.marg-bot-50 {
  margin-bottom: 50px; }

.min-w-150 {
  min-width: 150px; }

.h-223 {
  height: 223px; }

.h-238 {
  height: 238px; }

.typical-styled-list li:before {
  content: "\25A0";
  color: #be1e2d;
  margin-right: 10px;
  top: -2px;
  position: relative; }

body {
  background: url('../img/mainBG.jpg') repeat; }

.wrapper {
  min-width: 1280px;
  max-width: 1400px;
  margin: 0 auto;
  background: #ffffff; }

.basket {
  position: relative;
  top: -10px; }

.header-middle-box {
  border: 1px solid #be1e2d;
  border-bottom: none;
  border-top: none; }

.middle-box {
  width: 200px;
  margin: 0 auto; }

.link-btn {
  color: #000000;
  border: 1px solid #be1e2d;
  padding: 5px 10px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.icon-catalog {
  background: url('../img/menu-ico1.png') 0 0 no-repeat;
  width: 14px;
  height: 12px;
  display: inline-block;
  margin-right: 5px; }

.icon-price {
  background: url('../img/menu-ico2.png') 0 0 no-repeat;
  width: 10px;
  height: 13px;
  display: inline-block;
  margin-right: 5px; }

.main-slider {
  position: relative;
  height: 583px; }

.f-etelka {
  font-family: "EtelkaMediumProRegular"; }

.f-etelka-b {
  font-family: "EtelkaMediumProBold"; }

.f-russo {
  font-family: 'Russo One',sans-serif; }

.choose-car-input {
  height: 38px;
  padding: 0 10px;
  border: none;
  outline: none;
  box-sizing: border-box; }

.choose-car-box {
  padding: 30px 0; }

.submit-btn {
  border: none;
  background: #ffffff;
  height: 38px;
  margin-top: 33px; }

.submit-btn2 {
  padding: 7px 15px;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  background: #be1e2d;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  text-decoration: none; }

.submit-btn2-bg {
  background: #797979; }

.menu-link {
  text-decoration: none; }

.menu-link:hover {
  background: #990714; }

.ui-corner-all {
  border: none;
  background: none;
  width: auto !important; }

.ui-selectmenu-button span.ui-icon {
  display: none; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-radius: 0; }

.ui-selectmenu-button span.ui-selectmenu-text {
  padding: 0;
  margin: 0 10px;
  font-size: 38px;
  font-family: 'Russo One', sans-serif;
  line-height: 38px;
  border-bottom: 3px solid #000000;
  color: #000000;
  outline: none; }

.ui-selectmenu-button span.ui-selectmenu-text:hover, .ui-corner-top span.ui-selectmenu-text {
  border-bottom: 3px solid transparent; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: none;
  background: none;
  font-weight: normal;
  color: #000000;
  width: auto !important; }

.ui-widget-content {
  border: none;
  background: none;
  color: #000000; }

.ui-menu .ui-menu-item {
  padding: 0;
  margin: 3px 10px;
  border: none;
  font-size: 24px;
  text-decoration: underline; }

.ui-state-focus {
  outline: none;
  z-index: 5; }

.ui-widget-content .ui-state-focus {
  border: none;
  background: none;
  color: #000000;
  text-decoration: none; }

.ui-selectmenu-menu .ui-menu {
  position: relative;
  top: -45px;
  padding-top: 50px;
  padding-bottom: 5px;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 11px 2px #be1e2d;
  -moz-box-shadow: 0px 0px 11px 2px #be1e2d;
  box-shadow: 0px 0px 11px 2px #be1e2d; }

.ui-front {
  z-index: 1; }

.choose-car .ui-corner-all {
  border: none;
  width: auto !important; }

.choose-car .ui-selectmenu-button span.ui-icon {
  display: block; }

.choose-car .ui-state-default, .choose-car .ui-widget-content .ui-state-default, .choose-car .ui-widget-header .ui-state-default {
  border: none;
  background: white;
  font-weight: normal;
  color: #000000;
  width: auto !important;
  border-radius: 0;
  outline: none;
  width: 100% !important; }

.choose-car .ui-selectmenu-button span.ui-selectmenu-text {
  font-size: 18px;
  border: none;
  font-family: 'PT Sans'; }

.choose-car .ui-selectmenu-menu .ui-menu {
  top: 0 !important;
  padding-top: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important; }

.choose-car .ui-state-default .ui-icon {
  background-image: url("../img/arr.png");
  width: 13px;
  height: 9px;
  margin-top: -4px; }

.choose-car .ui-icon-triangle-1-s {
  background-position: 0px 0px; }

.choose-car .ui-menu .ui-menu-item {
  font-size: 18px !important; }

.choose-car .ui-selectmenu-button span.ui-selectmenu-text:hover, .choose-car .ui-corner-top span.ui-selectmenu-text {
  border-bottom: none; }

.first-select.ui-selectmenu-open ul li {
  font-size: 18px;
  font-family: 'PT Sans'; }

.first-select.ui-selectmenu-open ul {
  border-radius: 0;
  top: -38px;
  padding-top: 38px; }

.slider-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 0 100px; }

.slider-img-box {
  width: 900px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px; }

.slider-img-box ul li {
  float: left;
  width: 33.3333%;
  text-align: center; }

.bx-wrapper {
  position: relative; }

.bxslider li {
  height: 583px; }

.bx-prev, .bx-next {
  position: absolute;
  top: 43%;
  left: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url("../img/slider-arr.png") no-repeat;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 36px;
  height: 58px; }

.bx-next {
  left: inherit;
  right: 40px;
  background: url("../img/slider-arr.png") no-repeat;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

.crumbs ul {
  overflow: hidden; }

.crumbs ul li {
  margin-right: 35px;
  float: left; }

.crumbs ul li a {
  color: #898989;
  font-size: 14px; }

.crumbs ul li a:hover {
  text-decoration: none; }

.crumbs ul li a.crumbsActive {
  color: #000000;
  text-decoration: none; }

.crumbs-arr {
  position: relative; }

.crumbs-arr:after {
  content: '\2192';
  position: absolute;
  right: -22px; }

.request-arr {
  position: relative; }

.request-arr:after {
  content: '\2192';
  position: relative;
  top: -4px; }

.goods-input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #be1e2d;
  height: 32px;
  line-height: 32px;
  padding: 0 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.goods-textarea {
  width: 100%;
  min-height: 130px;
  box-sizing: border-box;
  border: 1px solid #be1e2d;
  resize: none;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.goods-input2 {
  width: 48%;
  box-sizing: border-box;
  border: 1px solid #be1e2d;
  height: 32px;
  line-height: 32px;
  padding: 0 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.list-of-goods .ui-state-default .ui-icon {
  background-image: url("../img/arr.png"); }

.list-of-goods .ui-icon-triangle-1-e {
  background-position: 0 0;
  background-image: url("arr.png");
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.list-of-goods .ui-icon-triangle-1-s {
  background-position: 0 0; }

.list-of-goods .ui-state-default, .list-of-goods .ui-widget-content .ui-state-default, .list-of-goods .ui-widget-header .ui-state-default {
  border: 0;
  background: #ffffff;
  font-weight: normal;
  color: #000000;
  outline: none;
  font-size: 24px;
  font-weight: bold; }

.list-of-goods .ui-widget-content {
  border: 0;
  background: #ffffff;
  color: #000000; }

.list-of-goods .ui-accordion .ui-accordion-content {
  padding: 0 0 0 30px; }

.list-of-goods .ui-accordion .ui-accordion-icons {
  padding-left: 30px; }

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px; }

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #000000;
  width: 100px;
  height: 20px; }

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  line-height: 30px;
  background-color: white;
  padding: 0px 9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #be1e2d;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .select-styled:after {
    content: "";
    width: 13px;
    height: 9px;
    right: 10px;
    position: absolute;
    top: 12px;
    right: 10px;
    background-image: url("../img/arr.png"); }
  .select-styled.active:after {
    top: 9px;
    background-image: url("../img/arr.png");
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg); }

.select-options {
  display: none;
  position: absolute;
  top: 29px;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid transparent;
  border: 1px solid #be1e2d;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .select-options li {
    margin: 0;
    padding: 3px 0;
    text-indent: 10px;
    border-top: 1px solid #be1e2d;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in; }
    .select-options li:hover {
      color: #be1e2d; }
    .select-options li[rel="hide"] {
      display: none; }

.goods-item {
  border: 1px solid #d7d7d7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.goods-item-img {
  height: 160px; }

.goods-itm-inside {
  padding: 10px 10px 50px 10px;
  border-top: 1px solid #d7d7d7;
  position: relative;
  min-height: 75px; }

.goods-item-footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px; }

.goods-pages a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin: 0 7px; }

.goods-pages a:hover {
  color: #be1e2d;
  text-decoration: none; }

.modal-box-wrap {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

.modal-box, .modal-box2, .modal-box3 {
  background: #fff;
  width: 500px;
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -250px;
  -webkit-box-shadow: 0px 0px 11px 2px #be1e2d;
  -moz-box-shadow: 0px 0px 11px 2px #be1e2d;
  box-shadow: 0px 0px 11px 2px #be1e2d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 10; }

.modal-box2 {
  width: 360px;
  margin: -165px 0 0 -180px; }

.modal-box3 {
  width: 740px;
  margin: -165px 0 0 -370px; }

.active-modal {
  display: block; }

.close-modal-box {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 18px;
  color: #d1d2d4;
  text-decoration: none; }

.modal-form-border {
  width: 290px;
  border-right: 1px solid #be1e2d;
  padding-right: 30px;
  margin-right: 30px;
  float: left; }

.item-img-box {
  border: 1px solid #d7d7d7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 30px;
  min-height: 270px; }

.item-img-box img {
  width: 70%; }

.item-textarea {
  width: 100%;
  resize: none;
  border: 1px solid #d7d7d7;
  padding: 4px;
  box-sizing: border-box; }

.item-input {
  width: 100%;
  border: 1px solid #d7d7d7;
  padding: 5px;
  box-sizing: border-box; }

.item-form-focus {
  position: absolute; }

.item-form-focus-hide {
  display: none; }

.item-form-focus {
  background: #f3f3f3;
  -webkit-box-shadow: 0 0 10px -1px #000;
  -moz-box-shadow: 0 0 10px -1px #000;
  box-shadow: 0 0 10px -1px #000;
  padding: 10px 10px 15px 10px; }

.item-info-text {
  background: #f3f3f3;
  padding: 15px 20px; }

.radio-style {
  display: none; }

.radio-style + label span {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: -4px 8px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.radio-style + label span {
  border: 1px solid #be1e2d; }

.radio-style:checked + label span {
  background-color: #be1e2d; }

.radio-style + label span, .radio-style:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear; }

.check-error {
  -webkit-box-shadow: 0px 0px 11px 2px #be1e2d;
  -moz-box-shadow: 0px 0px 11px 2px #be1e2d;
  box-shadow: 0px 0px 11px 2px #be1e2d; }

.closeTable {
  position: relative; }

.closeTable:after {
  content: 'x';
  position: absolute;
  color: #be1e2d;
  right: -60px; }

.back-link {
  position: relative; }

.back-link:before {
  content: "\2190";
  position: absolute;
  left: -20px;
  margin-right: 20px; }

@media screen and (min-width: 1301px) {
  .first-box {
    padding-left: 40px; }
  .x4d12--x {
    width: 33.33333% !important; } }

@media screen and (max-width: 1300px) {
  .wrapper {
    min-width: 960px;
    max-width: 1280px; }
  .g--rev.w1280, .g.w1280 {
    width: 960px; }
  .ui-selectmenu-button span.ui-selectmenu-text {
    font-size: 25px; }
  .item-img-box img {
    width: 99%; }
  .table-top2 .pad-right-75, .table-top .pad-right-75 {
    padding-right: 35px; }
  .closeTable:after {
    right: -25px; } }

/* -----------------------------------------------------
	<FOOTER> styles
*/
/* -----------------------------------------------------
	media queries
*/
